<template name="chatHead">

  <div class="container-fluid">
    <div class="">
      <div class="">
        {{#each member}}
        <div class="person">
            <div class="row">
              <div class="col-2">
                <div class="img_cont">
                  <img src="./img/{{profile.avatar}}" class="user_150">
                  <span class="online_icon offline"></span>
                </div>
              </div>
              <div class="col-3 user_info">
                <span>{{_id}}</span>
                <span>{{profile.first_name}}</span>
                <br>
                <span>{{profile.last_name}}</span>
                
                <div class="fill-100"></div>
                
              </div>
              
              <div class="col-2">
                <button class="btn btn-outline-primary btn-lg btn-block btnVideo" data-target="">
                  my Wall
                </button>
              </div>
              <div class="col-1">
                <button class="btn btn-outline-primary btn-lg btn-block btnVideo" data-target="videoChat">
                  <i class="fas fa-video" aria-hidden="true"></i>
                </button>
              </div>
              <div class="col-1">
                <button class="btn btn-outline-primary btn-lg btn-block btnPhone" data-target="phone">
                  <i class="fas fa-phone " aria-hidden="true"></i>
                </button>
              </div>
              
              <div class="col-1">
                <button class="btn btn-outline-primary btn-lg btn-block btnChat" data-target="chatPage">
                  <i class="fas fa-comments "></i>
                </button>
              </div>
             
              <div class="col-1">
                <button type="button" class="btn btn-block btn-outline-dark btnClose">
                  <i class="fas fa-window-close"></i>
                </button>
              </div>
            </div>
        </div>
        {{/each}}
      </div>
     
    </div>
    <br />
    <div class="row">
      {{> Template.dynamic template=useContacts }}
    </div>
  </div>

</template>

