.container-red {
  -webkit-perspective: 900px;
  -webkit-perspective-origin-x: 600px;
  position: absolute;
  left: 400px;
  top: 85px;
  width: 600px;
  height: 100px;
  background-color:white;
  -webkit-transform: translateZ(10px);
  -webkit-transform-style: preserve-3d;
}

.circle-events {
  position: absolute;
  width: 210px;
  height: 210px;
  left: 120px;
  top: 100px;
  background-color: red;
  border-radius: 50%;
  -webkit-animation: orbit 23s infinite linear;
  -webkit-transform: rotate3d(0, 1, 0, -89deg) translateX(300px);
  z-index: -1;
  animation-delay: .2s;
}
.circle-socials {
  position: absolute;
  width: 170px;
  height: 170px;
  left: 200px;
  top: 100px;
  background-color: rgb(31, 182, 51);
  border-radius: 50%;
  -webkit-animation: orbit 25s infinite linear;
  -webkit-transform: rotate3d(0, 1, 0, -189deg) translateX(700px);
  z-index: -1;
  animation-delay: .1s;
  animation-duration: 1,5s;
}
.circle-shoppings {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 135px;
  top: 200px;
  background-color: rgb(44, 58, 189);
  border-radius: 50%;
  -webkit-animation: orbit 21s infinite linear;
  -webkit-transform: rotate3d(0, 1, 0, -120deg) translateX(300px);
  z-index: -1;
}
.circle-auctions {
  position: absolute;
  width: 175px;
  height: 175px;
  left: 105px;
  top: 150px;
  background-color: rgb(255, 188, 4);
  border-radius: 50%;
  -webkit-animation: orbit 23s infinite linear;
  -webkit-transform: rotate3d(0, 1, 0, -80deg) translateX(350px);
  z-index: -1;
}
.circle-workshops {
  position: absolute;
  width: 160px;
  height: 160px;
  left: 75px;
  top: 100px;
  background-color: rgb(7, 133, 168);
  border-radius: 50%;
  -webkit-animation: orbit 22s infinite linear;
  -webkit-transform: rotate3d(0, 1, 0, -310deg) translateX(320px);
  z-index: -1;
}

@-webkit-keyframes orbit {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg) translateX(350px) rotate3d(0, 1, 0, 0deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg) translateX(350px) rotate3d(0, 1, 0, -360deg);
  }
}