<template name="bazarHome">
  <div class="fill-100"></div>
  <div class="container-fluid">
    <h1 class="display-1">Welcome to</h1>
    <div class="row">
      <div class="col-3">
        <img src="./img/grapes.png" style="height: 300px" width="300px;" >
        <h3 >grapevine.family</h3>
      </div>
      <div class="col-9">
        <h3>Hi Julien ...  Please read this !!</h3>
        <p>Welcome to a litle demo of the site. As you can see there 
          is'nt much to interfere with the wide screen. I like it that way - 
          but when you are working with shops - auctions - bazars etc. you will need category
        list/menu's - and dealing with people you will need "friendslist"/ communications options
        I have made these 'hidden' - if you look to the navbar you see a litle black button (on hover) in each end.
       The one to the left give you a dedicated menulist depending of what page you are dealing with.(not active here)<br>
       <b>The one to the right is more interesting for YOU.</b> This is an "image" of what I want to a 
       achieve with your help. This is in princip only a "friendslist" but clicking a friend - give you 
       some posibillities for what you can do with your friends. </p>
       <p>The rest of the navbar is rather trivial - Grapevine' is a button to go home - the 'Give a sip..' button 
         wil eventually be some kind of twitter feature ( I need a freelancer here, so if you know somebody interested
         in doing something like twitter - please tell). To the right the loged-in user and a logout button.
         <b>In the midle I have made a button for YOU.</b> Clicking that point you to your working-place. It's nothing but a mirrow of what you saw before, 
         but it's better to work without all that hide/show. SO this is for you !!
         Looking at the navbar you'll see thah the black buttons a gone - indicating that now we are in a working place
         - we dont need the menu/frindslist. We have kept the "give a sip..." in case you suddently want to tell the world
         some news...<br/>
         About the templates, sorry for the styling - its dreadful but I did'nt want to spend time.
         The functuality should work - at least as an explanation. Feel free to create users
       </p>
       <p>There are a lot of templates, because its a "cooked down" project - but the ones "meant for you is the forlders
          - login - chat - friends</p>
      </div>
    </div>
  </div>
  
</template>